page-dashboard {
    div.form-container{
        display: table;
        width: 100%;

        .form-list{
            .item{
                &.progress{
                    .input-wrapper{
                        & > .label{
                            width: 100%;
                            color: lighten(color($colors, dark), 50%);
                            span{
                                background: color($colors, secondary);
                                color: #fff;
                                padding: 2px 5px;
                                border-radius: 3px;
                                display: inline-block;
                                font-size: 13px;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .button{
        &.submit{
            float: right;
            margin-right: 16px;
            margin-top: 10px;
        }
    }
}
