// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header{
    .toolbar{
        background: red;
        &::after{
            display: none;
            background: red;
        }
    }
}

.tabbar{
    .tab-button{

        span{
            color: lighten(color($colors, dark), 10%);
        }

        &[aria-selected="true"]{
            .tab-button-icon{
                background: color($colors, primary);
            }

            span{
                color: color($colors, primary);
            }
        }

        .tab-button-icon{
            width: 24px;
            height: 24px;
            background-color: lighten(color($colors, dark), 10%);

            &[class$="-task"]{
                mask-image: url(../assets/icon/task.svg);
            }

            &[class$="-dashboard"]{
                mask-image: url(../assets/icon/dashboard.svg);
            }

            &[class$="-meeting"]{
                mask-image: url(../assets/icon/meeting.svg);
            }

            &[class$="-image"]{
                mask-image: url(../assets/icon/image.svg);
            }
        }
        
    }
}

.segment{
    width: 90%;
    margin: 15px auto;

    .segment-button{
        border: 1px solid color($colors, dark);
        height: 35px;
        line-height: 35px;

        &:not(:first-of-type){
            border-left-width: 0px;
        }

        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.segment-activated{
            // background: lighten(color($colors, dark), 83%);
            // border-top-left-radius: 5px;
            // border-top-right-radius: 5px;
            background: color($colors, dark);
            color: #fff;
        }
    }
}

button{
    box-shadow: 0 0 0!important;
    &.icon{
        background: transparent;
        height: 30px;
        width: 30px;
        position: relative;
        padding: 0 0 0 0;
    
        &::before{
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}