page-task {

    div.form-container{
        display: table;
        width: 100%;

        textarea{
            // height: 200px;
        }
    }



    div.table-container{
        display: table;
        width: 100%;
        margin-top: 15px;
        padding: 0px;

        .list{
            .item{
                padding-left: 16px;
                padding-right: 8px;
                box-shadow: inset 0px -1px 0px 0px lighten(color($colors, dark), 80%);

                &:last-child{
                    box-shadow: 0px 0px 0px;
                }

                .item-inner{
                    border-bottom: 0;
                    .input-wrapper{
                        .label{
                            white-space: normal;
                            p{
                                color: color($colors, dark);
                            }

                            .data{
                                display: table;
                                width: 100%;
                                span{
                                    color: lighten(color($colors, dark), 40%);
                                    font-size: 14px;
                                    padding-left: 10px;

                                    &.date{
                                        background: lighten(color($colors, dark), 50%);
                                        padding: 1px 5px;
                                        color: #fff;
                                        border-radius: 3px;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .button{
        &.submit{
            float: right;
            margin-right: 16px;
            margin-top: 10px;
        }
    }
}
